<% provide(:title, "Log in") %>


<div class="container py-5">
  <div class="row">
    <h1 class="col-12 text-center">Sign in</h1>
  </div>

  <div class="row">
    <div class="col-6 m-auto">
      <%= form_for :session, url: login_path do |f| %>

        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control', placeholder: 'Enter username' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
